.countdown_wrapper {
  position: absolute;
  left: 15px;
  bottom: 0px;
  color: #ffffff;
}

.countdown_wrapper .countdown_top {
  background: #ffaa00e5;
  font-size: 1em;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
}

.countdown_wrapper .countdown_bottom {
  display: flex;
  background: #ffaa00c0;
  padding: 10px 10px;
}

.countdown_wrapper .countdown_time {
  font-size: 3rem;
  border-right: 1px solid #ffa800;
  margin-right: 14px;
  padding-right: 25px;
}
.countdown_wrapper .countdown_item:last-child .countdown_time {
  border: none;
}

.countdown_wrapper .countdown_tag {
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 7px;
}

@media (max-width: 360px) {
  .countdown_wrapper .countdown_time {
    font-size: 2rem;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .countdown_wrapper .countdown_tag {
    font-size: 0.8rem;
    padding-left: 10px;
  }
}
